<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="banxia.org.mapper.DutyMapper" >
    <resultMap id="BaseResultMap" type="banxia.org.pojo.Duty" >
        <!--
          WARNING - @mbg.generated
        -->
        <id column="duty_id" property="dutyId" jdbcType="INTEGER" />
        <result column="duty_date" property="dutyDate" jdbcType="TIMESTAMP" />
        <result column="duty_depart_id" property="dutyDepartId" jdbcType="INTEGER" />
        <result column="duty_period" property="dutyPeriod" jdbcType="TINYINT" />
        <result column="duty_doc_id" property="dutyDocId" jdbcType="INTEGER" />
        <result column="duty_on_duty" property="dutyOnDuty" jdbcType="TINYINT" />
    </resultMap>
    
    <insert id="insertDuty">
        INSERT INTO banxia_duty
        (duty_date, duty_depart_id, duty_period, duty_doc_id, duty_on_duty)
        VALUES('${datetime}',${depId},${noon},${docId},0);
    </insert>
</mapper>